// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@100&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Datatables
@import "~datatables.net-bs4/css/datatables.bootstrap4.min.css";

//Bootstrap-select
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

//Tempus Dominus
// @import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";

:root{
    --avatar-size: 50px;
}

.bg-lightpurple {
    background-color: rgba(83, 88, 234, 0.05);
}

.rounded-xl {
    border-radius: 1.25rem;
}

.shadow-xl {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.heart {
    color: red;
}
.shadow-xs {
    box-shadow: 0 0 20px 0 rgba(46, 53, 57, 0.15);
}

.modal-dialog-response {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 26%;
    margin-right: 20%;
    margin-top: auto;
    width: 100%;
    z-index: 400;
}

.circle {
    background-color: #ccc;
    border-radius: 50%;
    height: var(--avatar-size);
    text-align: center;
    width: var(--avatar-size);
}

.initials {
    font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avatar-size) / 4); /* 25% of parent */
}
